{% load static %}
.card-title {
    text-align: center;
    font-size: 17px;
    font-family: "Myriad Pro";
}


a.navbar-brand{color:white !important}

#gallery {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}

#gallery img {
   scroll-snap-align: center;
}

.w-33 {
    width: 33% !important;
    height: 33% !important;
    margin-left: 4px;
    border-color: gray;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;

}

#gallery a {
    display: contents !IMPORTANT;
}

@media only screen and (max-width: 998px) {
    .hideAll {
        display: none;
    }
}
@media only screen and (min-width: 998px) {
    .showAll {
        display: none;
    }
}

@font-face {
  font-family: 'abc';
  src: local('Abc'),
       url('../font/AdobeArabic-Bold_17.otf')format("truetype");
}