{% load static %}
.card-title {
    text-align: center;
    font-size: 17px;
    font-family: "Myriad Pro";
}


a.navbar-brand{color:white}


@media only screen and (max-width: 998px) {
    .hideAll {
        display: none;
    }
}
@media only screen and (min-width: 998px) {
    .showAll {
        display: none;
    }
}

@font-face {
  font-family: 'abc';
  src: local('Abc'),
       url('../font/AdobeArabic-Bold_17.otf')format("truetype");
}